@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "rogre";
  src: url('/fonts/rogre.otf');
  font-weight: normal;
  font-style: normal;
}

.name {
  background: -webkit-linear-gradient(#190505, #646464);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cr{
  background: -webkit-linear-gradient(#ffae00, #ff00ae);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.dropdown{
  background: linear-gradient(to bottom, rgb(5, 5, 5),rgb(94, 94, 94));
}


html{
  scroll-behavior: smooth;
}
